<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../_includes/partials/_head.njk" %}
</head>

<body>

  <header>
    {% include "../_includes/partials/_header.njk" %}
  </header>

  <!--]	main [-->
  <main>
    {% block content %}
    <!--]	hypertext content [-->

    <h1>{{ title }}</h1>

    {{ content | safe }}

    <!--]	/hypertext content [-->
    {% endblock %}
  </main>
  <!--] /main [-->

  <!--] buttons [-->
  <div class="buttons">
    {% include "partials/_footer-buttons.njk" %}
  </div>
  <!--] /buttons [-->

  <!--] footer [-->
  <footer>
    {% include "../_includes/partials/_footer.njk" %}
  </footer>
  <!--] /footer [-->

</body>
</html>