<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../_includes/partials/_head.njk" %}
  {% if css %}
    <style>
      body { background-image: url({{ background }}); }
    </style>
  {% endif %}
  {% if mixtape %}
    <link rel="stylesheet" href="../css/mixtape.css">
  {% endif %}
</head>

<body>

  <header>
    <a href="/"><img src="{% if header %}{{ header }}{% else %}/img/header.png{% endif %}" width="1000" height="350" alt="flamedfury"></a>
  </header>

  <!--]	main [-->
  <main>
    {% block content %}
    <!--]	hypertext content [-->
    
    <h1>{{ title }}</h1>

    {{ content | safe }}

    <!--]	/hypertext content [-->
    {% endblock %}
  </main>
  <!--] /main [-->

  <!--] footer [-->
  <footer>
    {% include "../_includes/partials/_footer.njk" %}
  </footer>

  {% if mixtape %}
    <script src="../js/jquery.js"></script>
    <script src="../js/mixtape.js"></script>
  {% endif %}
</body>
</html>