<p><strong>public service announcement 2000</strong></p>

<p><img src="img/badges/you-didnt-ask-for-this.svg" /> <img src="img/badges/built-by-crips.svg" /></p>

<p>{% include "partials/_footer-buttons.njk" %}</p>

<p>copyright © 2000 - <script>document.write( new Date().getFullYear() );</script> by fLaMEd. some rights reversed. don't jack.</p>