
	<img src="../img/buttons/firefox.gif" width="88" height="31" />
	<a href="https://neocities.org/" target="blank"><img src="../img/buttons/neocities.gif" width="88" height="31" /></a>
	<a href="https://neo-neighborhoods.neocities.org/SouthBeach/residence.html" target="blank"><img src="../img/buttons/southb88.gif" width="88" height="31" /></a>
