<a href="https://www.mozilla.org/en-US/firefox/new/" target="blank"><img src="../img/buttons/firefox.gif" width="88px" height="31px" alt="best viewed in firefox" title="best viewed in firefox" /></a> 
<a href="https://code.visualstudio.com/" target="blank"><img src="../img/buttons/vscode.gif" width="88px" height="31px" alt="coded in vs code" title="coded in vs code" /></a> 
<a href="https://neocities.org/" target="blank"><img src="../img/buttons/neocities.gif" width="88px" height="31px" alt="hosted on neocities" title="hosted on neocities" /></a> 
<a href="https://neo-neighborhoods.neocities.org/SouthBeach/residence.html" target="blank"><img src="../img/buttons/southb88.gif" width="88px" height="31px" alt="part of the southbeach neighbourhood" title="part of the southbeach neighbourhood" /></a>