<a href="https://www.mozilla.org/en-US/firefox/new/" target="blank"><img src="../img/buttons/firefox.gif" width="88px" height="31px" /></a>
<a href="https://neocities.org/" target="blank"><img src="../img/buttons/neocities.gif" width="88px" height="31px" /></a>
<a href="https://neo-neighborhoods.neocities.org/SouthBeach/residence.html" target="blank"><img src="../img/buttons/southb88.gif" width="88px" height="31px" /></a>