<!-- _includes/_gameshelf-currently-playing.njk -->
<div class="container">
<div class="grid">
<div class="cell">
<img src="/img/gameshelf/diablo3.jpg" alt="diablo 3: season 23" class="responsive-image" />
</div>
<div class="cell">
<a href="/gameshelf/cities-skylines.html">
<img src="/img/gameshelf/cities-skylines.jpg" alt="cities skylines" class="responsive-image" />
</a>
</div>
<div class="cell">
<a href="#">
<img src="/img/gameshelf/shadowlands.jpg" alt="world of warcraft: shadowlands" class="responsive-image" />
</a>
</div>
</div>
</div>