<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ title }} :: flamedfury</title>

<meta name="description" content="{{ description }}">

<link rel="stylesheet" href="/css/styles.css">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

{% if webring %}
<script src="js/yesterwebring.js"></script>
{% endif %}