<!-- _includes/_manifesto-links.njk -->
<div class="container">
<div class="grid">
{% for item in links.manifestoSites %}
{% if item.siteDescription %}
<div class="cell">
<a href="{{ item.url }}">{{ item.siteName }}</a>: {{ item.siteDescription }}
</div>
{% else %}
<div class="cell">
<a href="{{ item.url }}">{{ item.siteName }}</a>
</div>
{% endif %}
{% endfor %}
</div>
</div>