<!-- _includes/partials/_webrings.njk -->

<div class="webring-container">
<div class="webring">
<p class="webring-heading"><strong>the yesterweb ring</strong></p>
<p>flamedfury.com is keeping the old web alive!
<yesterweb-css site="https://flamedfury.com/"></yesterweb-css>
</div>

<div class="webring">
<p class="webring-heading"><strong>the flamedfury network webring</strong></p>
<p>a webring for websites on the flamedfury network.</p>
<div class="webring-flex">
<div class="prev"><a href="#" target="_blank">&#60; previous site</a></div>
<div class="ring"><a href="#" target="_blank">random site</a> &#124; <a href="#" target="_blank">all sites</a></div>
<div class="next"><a href="#" target="_blank">next site &#62;</a></div>
</div>
</div>
</div>