<h2>neofriends</h2>

<table>
<tbody>
{% for item in links.items %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<img class="divider" src="img/tkts-divider.png" />

<h2>the small web</h2>

<table>
<tbody>
{% for item in links.ownWeb %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<img class="divider" src="img/tkts-divider.png" />

<h2>interesting articles</h2>
<p>a small collection of articles that i've read and found interesting enough to share so that you can all read them as well.</p>

<table>
<tbody>
{% for item in links.interestingArticles %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<img class="divider" src="img/tkts-divider.png" />

<h2>digital gardens</h2>
<p>digital gardens are all about cultivating thoughts and ideas in public. i guess a lot of what we're doing in handcrafting our websites in the yesterweb community are similar to this, but with less structure. these are the resources i found during my resarch into the idea.</p>

<table>
<tbody>
{% for item in links.digitalGardens %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<img class="divider" src="img/tkts-divider.png" />

<h2>link directories</h2>
<p>what the world wide web was made for. pages on pages hyperlinking hypertext in as many ways possible.</p>

<table>
<tbody>
{% for item in links.linkDirectories %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<img class="divider" src="img/tkts-divider.png" />

<h2>interesting weblogs</h2>
<p>a collection of blogs that i've come across during me travels across the world wide web. some are active, some are not, but each of these has contained at least one or two articles or posts that i have found interesting.</p>

<table>
<tbody>
{% for item in links.webLogs %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>