<table>
<thead>
<tr>
<th>Site</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{% for item in links.items %}
{% if item.siteName %}
<tr>
<td><a href="{{ item.url }}">{{ item.siteName }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% else %}
<tr>
<td><a href="{{ item.url }}">{{ item.author }}</a></td>
<td>{{ item.siteDescription }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>