<div id="mixtape">
<div id="mixtape-cover">
<img class="cover" />
</div>
<div id="audio-player">
<div id="mixtape-info">
<span class="artist"></span> - <span class="title"></span>
</div>
<input id="volume" type="range" min="0" max="10" value="5" />
<br>
<div id="mixtape-buttons" class="flex">
<button id="prev"></button>
<button id="play"></button>
<button id="pause"></button>
<!-- <button id="stop"></button> -->
<button id="next"></button>
</div>
<div class="clearfix">

</div>
<div id="tracker">
<div id="progressbar">
<span id="progress"></span>
</div>
<span id="duration"></span>
</div>
<div class="clearfix">

</div>
<ul id="playlist">
<li song="../../media/miley/wtf-do-i-know.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">wtf do i know.mp3</li>
<li song="../../media/miley/we-cant-stop.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">we can't stop.mp3</li>
<li song="../../media/miley/high.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">high.mp3</li>
<li song="../../media/miley/nothing-breaks-like-a-heart.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">nothing breaks like a heart.mp3</li>
<li song="../../media/miley/on-a-roll.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">on a roll.mp3</li>
<li song="../../media/miley/adore-you.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">adore you.mp3</li>
<li song="../../media/miley/gimmie-what-i-want.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">gimmie what i want.mp3</li>
<li song="../../media/miley/malibu.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">malibu.mp3</li>
<li song="../../media/miley/see-you-again.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">see you again.mp3</li>
<li song="../../media/miley/bad-karma.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">bad karma.mp3</li>
<li song="../../media/miley/mothers-daughter.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">mother's daughter.mp3</li>
<li song="../../media/miley/right-where-i-belong.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">right where i belong.mp3</li>
<li song="../../media/miley/plastic-hearts.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">plastic hearts.mp3</li>
<li song="../../media/miley/dream.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">d.r.e.a.m.mp3</li>
<li song="../../media/miley/angels-like-you.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">angels like you.mp3</li>
<li song="../../media/miley/midnight-sky.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">midnight sky.mp3</li>
<li song="../../media/miley/unholy.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">unholy.mp3</li>
<li song="../../media/miley/prisoner.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">prisoner.mp3</li>
<li song="../../media/miley/party-in-the-usa.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">party in the u.s.a.mp3</li>
<li song="../../media/miley/heart-of-glass.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">heart of glass.mp3</li>
<li song="../../media/miley/hate-me.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">hate me.mp3</li>
<li song="../../media/miley/slideaway.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">slide away.mp3</li>
<li song="../../media/miley/wrecking-ball.m4a" cover="miley/miley-cyrus-mixtape-cover.png" artist="miley cyrus">wrecking ball.mp3</li>
</ul>
</div>
</div>