<div class="webring-css">
    <webring-css site="https://flamedfury.com/"></webring-css>
    <style>
        :root {
        --mybg: #333;
        --myborder: 2px dashed #ff4a73;
        --mycolor: #a1a1a1;
        --mylinkcolor: #ff1493;
        --mytitle: #ff4a73;
        --fontfamily: Georgia, "Times New Roman", Times, serif;
        }
    </style>
</div>